{% extends 'social/layout.html' %}
{% load static %}
{% load humanize %}


{% block head %}
    <script src="{% static 'social/feed.js' %}" defer></script>
{% endblock %}

{% block header %}
    <a href="{% url 'user' user.id %}" class="top-pfp-btn"><img src="{{ user.profile_pic.url }}" alt=""></a>
    <span class="page-title">Posts</span>
    <a href="{% url 'logout_view' %}" class="logout-btn"><span>Logout</span>  <i class="fa-solid fa-right-from-bracket"></i></a>
{% endblock %}

{% block body %}
<a class="add-btn" href="{% url 'add_post' %}"><i class="fa-solid fa-plus"></i></i></a>
    <div class="main">
        {% for post in posts %}
            <div class="post">
                <div class="header">
                    <div class="info">
                        <img class="post-pfp" src="{{ post.user.profile_pic.url }}" alt="pfp">
                        <div class="name-username">
                            <div class="name-date">
                                <span class="name">{{post.user.full_name}} </span>
                                <span class="post-date"> {{  post.created_at|naturaltime }}</span>
                            </div>
                           <span class="username"><a class="username-link" href="{% url 'user' post.user.id %}">@{{post.user.username}}</a></span>
                        </div>
                        <!-- <span class="post-date">{{  post.created_at|naturaltime }}</span> -->
                         {% if post.user == user %}
                        <form action="" method="post" class="del-form-post">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button class="del-post-btn" type="submit" name="action" value="delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="content">
                    {{ post.content }}
                </div>
                <div class="footer">
                    <div class="like">
                        <button onclick="handleLike(this)" class="like-button" data-post-id="{{post.id}}">
                            {% if post.id in likes%}
                            <i class="fa-solid fa-heart"></i>
                            {% else %}
                            <i class="fa-regular fa-heart"></i>
                            {% endif %}

                        </button>
                        <span class="like-count">{{ post.likes.count }}</span>
                    </div>
                    <div class="comment-comp">
                        <a class="comment-button" href="{% url 'load_comments' post.id %}"><i class="fa-regular fa-comment"></i></a>
                        <span class="comment-count">{{ post.comments.count }}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts in database!</p>
        {% endfor %}
    </div>
{% endblock %}  